@import url('https://fonts.googleapis.com/css?family=Kanit:300,400,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kanit', sans-serif;
}

//     *****     Navigation     *****

nav {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    margin-top: 10px;
}

.nav-title {
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.nav-title:hover,
.nav-title::after {
  color: #ff641c;
}

.nav-link {
    margin-top: 8px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.nav-link:hover,
.nav-link::after {
    box-shadow: inset 0 -9px 0 #fff, inset 0 -10px 0 #ff641c;
}

//     *****     Home About     *****

.about-div {
    width: 80%;
    margin-left: 10%;
    margin-top: 40px;
    text-align: center;
}

.about-header {
    font-size: 2.7em;
    font-weight: bold;
    align-content: center;
    line-height: 40px;
    box-shadow: inset 0 -13px 0 #fff, inset 0 -23px 0 #ff641c;
    animation: boxShadow 2s;
}

.about-text {
    text-align: justify;
    margin-top: 55px;
    margin-bottom: 55px;
    font-weight: 300;
    font-size: 1.3em;
    line-height: 32px;
}

@keyframes boxShadow {
    0% {
        box-shadow: none;
    }
    100% {
        box-shadow: inset 0 -13px 0 #fff, inset 0 -23px 0 #ff641c;
    }
}

//     *****     Projects     *****

.projects {
    background-color: rgba(36, 36, 36, 0.925);
    clip-path: polygon(0 2%, 100% 0, 100% 98%, 0% 100%);
    padding-top: 15vh;
    animation: transformY s;
}

.main-portfolio {
    display: flex;
    flex-direction: column;
    padding-top: -50px;
  }

  .main-card {

    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-top: 45px;
  }

  .first-card {
      padding-top: 5px;
  }

  .card-item {
    display: flex;
    flex-direction: column;
    border-radius: 0; 
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.63), 0 8px 25px 0 rgba(0, 0, 0, 0.699);
  }

  

  .card-img {
    width: 100%;
    height: auto;
    border-radius: 0;
    position: relative;
    margin-bottom: -5px;
  }

  .card-body {
    background-color: rgba(0, 0, 0, 0.884);
    padding: 8px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
  }

  .card-body h3 {
    margin-top: 8px;
    margin-bottom: -8px;
    font-size: 1.5em;
    color: #fff;
  }

  .card-body h3,
  .card-body p {
    text-align: left;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-top: 5px;
    display: block;
  }



  .card-link {
    margin-top: 15px;
  }

  .card-link a {
    cursor: pointer;
    width: 100%;
    color: #ff641c;
    text-decoration: none;
  }

  .card-link a:hover,
  .card-link::after {
    box-shadow: inset 0 -0px 0 rgba(12, 12, 12, 0.884), inset 0 -1.5px 0 #ff641c;
  }

  .main-card:last-child {
    margin-bottom: 40px;
  }

  .project-text {
      width: 80%;
      margin-left: 10%;
      color: #fff;
      text-align: center;
  }

  .project-text ul {
      margin-top: 20px;
      padding-bottom: 15vh;
  }

  .project-text h1 {
      font-size: 1.6em;
  }

  .skills-item {
      list-style: none;
      padding: 5px;
  }

  .bullet-point {
      color: #ff641c;
      font-size: 1.3em;
  }

  //     *****     Portfolio Item     *****

  .main-portfolio-item {
    background-color: rgba(36, 36, 36, 0.925);
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
    text-align: center;
    color: #fff;
    padding-bottom: 55px;
    padding-top: 100px;
    animation: transformY 2s;
  }

  .main-portfolio-item img{
    width: 80%;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.63), 0 8px 25px 0 rgba(0, 0, 0, 0.699);
  }

  .main-portfolio-item h1 {
    margin-bottom: 30px;
    width: 80%;
    margin-left:10%;
  }

  .main-portfolio-item p {
    width: 75%;
    margin-left: 12.5%;
    margin-top: 25px;
    text-align: justify;
  }

  .main-portfolio-item p:nth-of-type(2) {
    margin-bottom: 40px;
  }

  .anchor-div {
    margin-bottom: 40px;
    width: 75%;
    margin-left: 12.5%;
    display: flex;
    flex-direction: column;

  }

  .anchor-div a {
    text-decoration: none;
    border: 1px solid #ff641c;
    color: #fff;
    cursor: pointer;
    padding: 8px;
    margin-bottom: 15px;
    font-size: 20px;
  }

  .anchor-div a:hover,
  .anchor-div a::after {
    background-color: #ff641c;
  }

  i {
    margin-right: 8px;
    font-size: 20px;
  }

  //     *****     Contact     *****

  .container-div a {
    color: #fff;
    text-decoration: none;
  }

  .at {
    font-size: 1.5em;
  }

  .main-contact {
    width: 100%;
    margin-bottom: 50px;
  }

  .contact-wrap-div {
    width: 100vw;
    height: 100%;
    color: #fff;
    clip-path: polygon(0 8%, 100% 0, 100% 92%, 0% 100%);
    background-color: rgba(36, 36, 36, 0.925);
    padding-bottom: 170px;
  }
  .container-div {
      padding-top: 135px;
      width: 100%;
      text-align: center;
  }
   
  .container-div h1 {
    font-size: 1.8em;
    text-transform: uppercase;
    margin-bottom: 55px;
  }
  
  .container-div p {
      font-size: 1.8em;
      margin-top: 10px;
      margin-bottom: 75px;
      cursor: pointer;
  }

  .container-div p:hover,
  .container-div p:active {
    color: #ff641c;
  }

  .container-div a {
    padding: none;
    width: 5%;
  }

  .fa-linkedin:hover,
  .fa-linkedin:active {
    color: #0077b5;
    
  }

  .fa-github-square:hover,
  .fa-github-square:active {
    color: black;
  }

  .social-btn {
    text-align: center;
    font-size: 5em;
    margin-right: 15px;
  }
  
  form {
      margin-top: 30px;
      color: #fff;
  }
  
  form input {
      width: 90%;
      margin-top: 8px;
      margin-bottom: 15px;
      background: rgba(112, 112, 112, 0);
      border: 1px solid #ff641c;
      padding: 8px;
      padding-right: none;
      color: #fff;
  }

  form input:focus,
  form input:hover {
    background-color: rgb(112, 112, 112);
  }
  
  textarea {
      width: 90%;
      height: 7vh;
      margin-top: 8px;
      background: rgba(112, 112, 112, 0);
      border: 1px solid #ff641c;
      padding: 8px;
      color: #fff;
  }

  textarea:focus,
  textarea:hover {
    background-color: rgb(112, 112, 112);
  }
  
  input::placeholder,
  textarea::placeholder {
      color: white;
      font-family: 'Montserrat', sans-serif;
  }
  
  .submit-btn {
      margin-top: 15px;
      width: 150px;
      text-transform: uppercase;
  }
  
  .submit-btn:hover,
  .sumbit-btn:active {
      background: #ff641c;
  }
  
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
      transition: "color 9999s ease-out, background-color 9999s ease-out";
      transition-delay: 9999s;
  }
  
  
    @keyframes transformY {
      0% {
        opacity: 0;
      }
      40% {
        opacity: 0;
      }
      100% {
          opacity: 1;
      }
    }
    
    .container-div {  
      animation: 1s ease-out 0s 1 transformY;
    }
  

  //     *****     Footer     *****

  footer {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 0.7em;
    text-align: center;
  }

  footer p {
    padding: 5px;
  }

  //     *****     Media Queries     *****

  @media (min-width: 768px) {
    form input {
      width: 95%;
    }
    textarea {
      width: 95%;
    }
  }

  @media (min-width: 900px){

    .projects {
      margin-top: -40px;
      padding-top: 75px;
    }
    .about-div {
      text-align: left;
      margin-left: 25px;
    }
    .about-div p {
      width: 45%;
    }
    .about-div span {
      width: 100%;
      font-size: 4em;
      box-shadow: inset 0 -18px 0 #fff, inset 0 -32px 0 #ff641c;
      animation: bigBox 2s;
    }
    @keyframes bigBox {
      0% {
          box-shadow: none;
      }
      100% {
          box-shadow: inset 0 -18px 0 #fff, inset 0 -32px 0 #ff641c;
      }
  }
    .main-card {
      justify-content: center;
      width: auto;
      height: auto;
      margin: 0px;
      margin-top: 45px;
      padding: 0;
    }
    .card-item {
      width: 350px;
    }
    .main-portfolio {
      flex-direction: row;
      flex-wrap: wrap;
    }

    .skill-list {
      padding-top: 50px;
      font-size: 1.3em;
      display: grid;
      justify-content: center;
      text-align: left;
      margin-left: 18px;
      grid-template-columns: repeat(2, 150px);
      grid-template-rows: minmax(90px, auto) repeat(2, 75px);
    }

    .project-text ul {
      padding-bottom: 5vh;
    }
  
    footer {
      font-size: 0.9em;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    .main-card:last-of-type {
      margin-bottom: 175px;
    }
    .container-div {
      width: 50%;
      margin-left: 25%;
    }
    .anchor-div {
      flex-direction: row;
      justify-content: center;
    }
    .anchor-div a {
      margin: 5px;
    }
    .main-portfolio-item h1 {
      font-size: 3em;
    }
    .portfolio-content {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 75px;
      margin-top: 75px;
    }
    .content-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 7%;
    }
    .content-text p{
      margin-top: 0;
      margin-bottom: 25px;
      padding-top: 0;
    }
    .portfolio-content img {
      width: 40%;
      margin-left: 10%;
    }
  }

 @media (min-width: 900px) {
  .projects {
    padding: 5%;
  }
  nav {
    padding: 0;
    padding: 175px;
    padding-top: 25px;
    padding-bottom: 10px;
  }
  .nav-link {
    font-size: 1.5em;
  }
  .nav-link:hover,
  .nav-link::after {
    box-shadow: inset 0 -3px 0 #fff, inset 0 -5px 0 #ff641c;
}
  .about-div {
    padding-left: 50px;
    width: 70%;
    margin-left: 15%;
  }

  .main-card {
    width: 50%;
  }
  .card-item {
    width: 70%;
    margin-left: 15%;
  }
  
  footer {
    font-size: 0.9em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .main-card:last-of-type {
    margin-bottom: 175px;
  }
  .container-div {
    width: 50%;
    margin-left: 25%;
  }
  .anchor-div {
    flex-direction: row;
    justify-content: center;
  }
  .anchor-div a {
    margin: 5px;
  }
  .main-portfolio-item h1 {
    font-size: 3em;
  }
  .portfolio-content {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 75px;
    margin-top: 75px;
  }
  .content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 7%;
  }
  .content-text p{
    margin-top: 0;
    margin-bottom: 25px;
    padding-top: 0;
  }
  .portfolio-content img {
    width: 40%;
    margin-left: 10%;
  }
 }
